.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.main_container {
    width: 60%;
    margin: auto;
    flex: 1;
    justify-content: center;
}


table td {
    width: 20rem;
    text-align: start
}

table th {
    width: 20rem;
    text-align: start
}

.service_name {
    margin-left: 1rem;
}

.status-green {
    color: green;
}

.status-orange {
    color: orange;
}

.status-red {
    color: red;
}

.service_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2rem;
    justify-content: center;
}

.chart_container {
    border: 1px solid grey;
}

.table_container {
    overflow-y: auto;
    max-height: 17rem;
    border: 1px solid grey
}

.table {
    margin: 1rem 1rem;
}

body {
    margin: 0;
}

.logo {
    height: auto;
    margin-right: 2rem;
    width: 10rem;
}



