{% extends 'base.html' %}
{% block title %}
    <title>Dashboard</title>
{% endblock %}

{% block content %}
    <div class="main_container">
        {% if selected_range == 'select_date' %}
            <div class="datepicker_container">
                <form class="datepicker_form"
                      action="{{ url_for('dashboard', selected_range=selected_range) }}">
                    <label class="datepicker_item datepicker_label" for="datepicker">Select
                        date</label>
                    <input class="datepicker_item datepicker_date" type="date"
                           id="datepicker" name="date"
                           value="{{ request.args.get("date") }}" required>
                    <button class="datepicker_item datepicker_button" type="submit"
                            id="datepicker_button">Submit
                    </button>
                </form>
            </div>
        {% endif %}
        {% for service in status_data %}
            <div class="service_container">
                <div class="chart_container">
                    <h3 class="service_name">{{ service["service_name"] }}</h3>
                    <div id="chart_{{ service["service_name"] }}"></div>
                </div>
                <div class="table_container">
                    <table class="table">
                        <tr>
                            <th>Host</th>
                            <th>Datetime</th>
                            <th>Status</th>
                        </tr>
                        <div id="data_{{ service["service_name"] }}">
                            {% for item in service["data"] %}
                                <tr>
                                    <td>{{ item["host"] }}</td>
                                    <td>{{ item["datetime"] }}</td>
                                    <td class="{% if item["status"] == "OK" %}status-green{% elif item["status"] == "WARNING" %}status-orange{% else %}status-red{% endif %}">{{ item["status"] }}</td>
                                </tr>
                            {% endfor %}
                        </div>
                    </table>
                </div>
            </div>
        {% endfor %}
    </div>

    <script type="text/javascript"
            src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

        google.charts.load('current', {'packages': ['corechart']})

        google.charts.setOnLoadCallback(drawCharts)

        function drawCharts() {
            {{ charts_data|tojson }}.forEach(function draw_chart(chart_data) {
                    var data = new google.visualization.DataTable()
                    data.addColumn('string', 'Status')
                    data.addColumn('number', '');
                    var data_rows = [];
                    // build slices
                    if (chart_data["OK"] > 0) {
                        data_rows.push(['OK', chart_data["OK"]])
                    }
                    if (chart_data["WARNING"] > 0) {
                        data_rows.push(['WARNING', chart_data["WARNING"]])
                    }
                    if (chart_data["CRITICAL"] > 0) {
                        data_rows.push(['CRITICAL', chart_data["CRITICAL"]])
                    }
                    data.addRows(data_rows);
                    var colors = {
                        'OK': 'green',
                        'WARNING': 'orange',
                        'CRITICAL': 'red'
                    };
                    var slices = [];
                    for (var i = 0; i < data.getNumberOfRows(); i++) {
                        slices.push({
                            color: colors[data.getValue(i, 0)]
                        });
                    }

                    var chart_options = {
                        'is3D': true,
                        'legend': {'position': "labeled"},
                        'chartArea': {'width': "95%", 'height': "100%"},
                        'slices': slices,
                        'sliceVisibilityThreshold': 0
                    }

                    var chart_div = document.getElementById(`chart_${chart_data["service_name"]}`);


                    var _3dchart = new google.visualization.PieChart(chart_div);
                    _3dchart.draw(data, chart_options);
                }
            )
        }
    </script>
{% endblock %}